div#flat-black-player-container {
  position: relative;
  margin: auto;
  max-width: 400px;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 600px) {
  div#flat-black-player-container {
    max-width: none;
  }
}